body {
  background-color: rgb(242, 255, 242);
}

#title {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  background-color: white;
  padding: 25px 0;
  margin: 25px 0;
  font-family: 'Josefin Slab', serif;
  letter-spacing: -0.05em;
  border-top: 1px dashed rgb(150, 170, 150);
  border-bottom: 1px dashed rgb(150, 170, 150);
  /*text-decoration: underline;*/
}

.gallery-item {
  max-height: 240px;
  width: auto;
  margin: 25px 25px;
  border: 1px solid rgba(123, 130, 123, 0.2);
}

.gallery-item:hover {
  cursor: pointer;
}

#gallery-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 12%;
  justify-content: center;
}

#outer-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  transition: all 2s ease-in;
  opacity: 0;

  display: flex;
  justify-content: center;
}

#outer-modal:not(:empty) {
  opacity: 1;
}

@keyframes modal-animation {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

#inner-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: modal-animation;
  animation-duration: .3s;
}

#inner-modal h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 25px 200px;
  color: white;
}

#inner-modal p {
  font-size: 0.8em;
  font-style: italic;
  padding: 5px 200px;
  color: white;
}

#inner-modal img {
  max-width: 80%;
  max-height: 80vh;
  border: 25px solid white;
}

#inner-modal:hover img {
  cursor: pointer;
}

#footer {
  padding: 25px 0 50px 0;
  margin-top: 55px;
  background-color: white;
  border-top: 1px dashed rgb(150, 170, 150);
  display: flex;
  justify-content: space-around;
}

.footer-item {
  width: 20%;
}

.footer-item h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: rgb(150, 170, 150);
}

.footer-item p {
  margin: 5px 0 0 20px;
  font-weight: lighter;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  color: black;
}
